body{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Trebuchet MS';
  background-color : rgb(235,235,235);
}

tr,td{
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid black;
  margin-top: 50px;
}
table{
  margin-left: auto;
  margin-right: auto;
}
section{
  display: flex;
  min-width: 98vw;
  background-color: rgb(220,220,220);
  border: 1px solid black;

}
div{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

th{
   font-weight: bold;
}

article{
  display: flex;
  min-width: 98vw;

 }

header{
  display: flex;
  flex-basis:100%;
  margin-left: auto;
  margin-right: auto;
}
h1{
  flex-basis: 100;
  margin-left: auto;
  margin-right: auto;
}
