body{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Trebuchet MS';
  background-color : rgb(235,235,235);
}
section{
  flex-wrap: nowrap;
  background-color: rgba(220, 220, 220);
  min-width: 49vw;
}
h1{
  flex-basis: 100%;
}
